@{
ViewData["Title"] = "Dish - Add New";
@* List<Chef> chefsSelection = db.Chefs.ToList(); *@  @* Cant - Not Allowed! *@
}


@model ChefNDish

<div>
    <div class="text-center">
        <h3 class="">Add a new Dish!</h3>
    </div>
    <div class="d-flex justify-content-left">
        <a a asp-action="All" asp-controller="Dishes">Back to Dishes List</a>
    </div>
    <hr>

    <form asp-action="Create" asp-controller="Dishes" method="post">
        <div class="row">
            <div class="form-group col-sm ">
                <label asp-for="NewDish.Name"></label>
                <span asp-validation-for="NewDish.Name" class="salmon"></span>
                <input asp-for="NewDish.Name" class="form-control mb-3">

                <label asp-for="NewDish.Calories"></label>
                <span asp-validation-for="NewDish.Calories" class="salmon"></span>
                <input asp-for="NewDish.Calories" class="form-control mb-3">

                <label asp-for="NewDish.Description"></label>
                <span asp-validation-for="NewDish.Description" class="salmon"></span>
                <textarea asp-for="NewDish.Description" class="form-control" cols="10" rows="3"></textarea>
            </div>

            <div class="form-group col-sm ">
                <label>Chef</label>
                @* <label asp-for="NewDish.ChefId"></label> *@ @* this also works! *@
                <select asp-for="NewDish.ChefId" class="form-control">
                    @foreach (Chef c in Model.ListOfChefs)
                    {
                        <option value="@c.ChefId">@c.First @c.Last</option>
                    }
                </select>
                
                <button type="submit" class="btn btn-outline-warning mt-3">Add Dish</button>
                @* <input type="submit" value="Add Dish"> *@
            </div>

            <div class="form-group col-sm ">
                <label asp-for="NewDish.Tastiness"></label>
                <span asp-validation-for="NewDish.Tastiness" class="salmon"></span>
                <select asp-for="NewDish.Tastiness" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </form>




</div>

@* Template: ASP.Net Core form with Validation
<form asp-action="Create" asp-controller="Dish" method="POST">
    <div class="form-group">
        <label asp-for=""></label>
        <span asp-validation-for="" class="text-danger"></span>
        <input asp-for="" class="form-control">
    </div>

</form> *@